<a href="https://colab.research.google.com/github/2SEHI/K-Digital_Lecture/blob/main/00_test/python_basic_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 객체 지향 문법
- 이름: 이세희
- 제출날짜 : 2021.8.23

## 1.이름 과 국어, 영어, 수학 점수를 저장할 수 있는 클래스를 생성하시오.
- 이름 과 국어, 영어, 수학 점수를 저장할 변수를 초기화 메소드를 생성해서 기본값은 이름의 기본값은 "noname", 국어, 영어, 수학 점수는 0으로 설정하시오
- 이름 및 국어, 영어, 수학 점수는 인스턴스가 직접 접근할 수 없도록 생성하시오.
- 이름 및 국어, 영어, 수학 점수에 접근할 수 있는 getter 와 setter 메소드를 생성하시오.
- 국어, 영어, 수학 점수의 평균을 구해서 리턴하는 메소드를 생성하시오.

### 내 답안

In [ ]:
class Student:
    # 초기화 메소드
    def __init__(self):
        self.__name = 'noname'
        self.__kor = 0
        self.__eng = 0
        self.__math = 0

    # 속성 setter 메소드
    def setter_name(self, name):
        self.__name = name
    def setter_kor(self, kor):
        self.__kor = int(kor)
    def setter_eng(self, eng):
        self.__eng = int(eng)
    def setter_math(self, math):
        self.__math = int(math)

    # 속성 getter메소드
    def getter_name(self):
        return self.__name
    def getter_kor(self):
        return self.__kor
    def getter_eng(self):
        return self.__eng
    def getter_math(self):
        return self.__math

    # 평균점수를 구하는 메소드
    def mean_test(self):
        m = (self.__kor+ self.__eng+ self.__math) / 3
        return m

# 인스턴스 생성
st = Student()

# 이썬,30,40,50
stu_string = input("이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : ")
# 이름,국어점수,영어점수,수학점수 분리하여 저장
name, kor, eng, math = map(str,stu_string.split(','))

# 이름,국어점수,영어점수,수학점수를 인스턴스에 저장
st.setter_name(name)
st.setter_kor(kor)
st.setter_eng(eng)
st.setter_math(math)

# 평균점수를 구하는 함수를 호출하여 평균점수 출력
print(f"{st.getter_name()}의 평균 점수는 {st.mean_test()}점입니다.")

이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 이썬,30,40,50
이썬의 평균 점수는 40.0점입니다.

In [ ]:
# 인스턴스 초기화 확인
# 인스턴스 생성
st = Student()
print(f"{st.getter_name()}의 평균 점수는 {st.mean_test()}점입니다.")

noname의 평균 점수는 0.0점입니다.

### 선생님 답안

In [2]:
class Person:
    #초기화 메소드
    def __init__(self, name = 'noname', kor=0, eng=0, mat=0):
        #파이썬에서는 __로 시작하는 변수를 만들면 private 이 됩니다.
        self.__name = name
        self.__kor = kor
        self.__eng = eng
        self.__mat = mat
    
    #접근자 메소드
    def get_name(self):
        return self.__name
    def set_name(self, name):
        self.__name = name
    
    #getter 와 setter를 생성
    def get_kor(self):
        return self.__kor
    def set_kor(self, kor):
        self.__kor = kor
    #프로퍼티 생성
    #변수처럼 사용하는데 kor = 은 하게되면 setter 가 호출되고
    #kor 하게되면 getter 가 호출됩니다.
    kor = property(get_kor, set_kor)

    def avg():
        return (kor + eng + mat) / 3
        
p1 = Person()
p2 = Person('adam', 90, 80, 98)
print(p1.get_name())
print(p1.kor)

noname
0

## 2.call by value 와 call by reference 에 대해서 작성하세요
- 2개의 차이를 명확하게 구분하는 것이 중요합니다.

### 내 답안

In [ ]:
# call by value : 값에 의한 호출
# call by reference : 참조(주소)에 의한 호출

# call by value의 경우는 값이 메모리에 복사되어 할당되므로 원래 값에 영향을 주지 않습니다.
# call by reference의 경우는 변수의 주소값이 할당되어 원래 값에 영향을 줍니다.
# 예를 들면, 파이썬의 내장함수중에서 list의 sort와 sorted가 있습니다. 

fruit = ['banana', 'oranage', 'apple' ]

# sort는 값만 호출하여 sort하므로 원본의 fruit에 영향을 주지 않는 call by value입니다.
print(sorted(fruit)) # 값이 정렬됨
print(fruit) # 원본 fruit는 변경되지 않음

# sort는 fruit의 주소값이 할당되어 원본의 fruit에 영향을 주는 call by reference입니다.
list.sort(fruit) # fruit 자체가 정렬됨
print(fruit)

['apple', 'banana', 'oranage']
['banana', 'oranage', 'apple']
['apple', 'banana', 'oranage']

### 선생님 답안

In [ ]:
call by value : 
    함수의 매개변수로 스칼라 데이터를 넘겨주는 것으로 함수가 매개변수의 값을 변경해도 원본 데이터에는 영향이 없는 것
call by reference :
    함수의 매개변수로 벡터 데이터를 넘겨주는 것으로 함수가 매개변수의 값을 변경하면 원본 데이터도 변경될 수 있음

## 3.str 클래스를 상속받는 클래스를 작성하세요
- 내용은 없어도 되므로 pass 로 설정

### 내 답안

In [ ]:
class CommonStr(str):
    pass

### 선생님 답안

In [ ]:
class Sub(str):
    pass

## 4. Overloading 과 Overriding 의 개념을 작성하시오.

### 내 답안

In [ ]:
# Overriding은 상위클래스에 정의된 메소드를 하위클래스에서 재구현하는 것을 의미합니다
# Overloading은 한 클래스내에 같은 이름의 메소드가 각각 다른 파라미터를 설정받아 구현하는 것을 의미합니다.

### 선생님 답안

In [ ]:
Overloading : 하나의 클래스에 매개변수의 개수나 자료형이 다르고 이름이 동일한 함수가 2개 이상 존재하는 경우

Overriding : 하위 클래스에서 상위 클래스의 메소드를 다시 정의하는 것. 목적은 기능 추가

## 5.추상 클래스의 개념을 작성하세요
- 만드는 목적도 작성하세요

### 내 답안

In [ ]:
# 추상클래스의개념 : 추상클래스는 메소드의 목록만 가지는 클래스입니다.
# 목적 : 반드시 구현해야 하는 메소드를 추상클래스의 추상메소드로 생성하고 이를 하위 클래스에서 상속받아 추상메서드를 구현하도록 하는 것입니다.
# 추상클래스는 인스턴스를 생성할 수 없어서 추상메소드내에 pass를 설정하여 비어있는 메소드로 만듭니다.

### 선생님 답안

In [ ]:
추상 클래스 : 인스턴스를 생성할 수 없는 클래스
    여러 클래스에서 동일한 용도로 사용할 메소드의 이름을 결정하는 클래스
    템플릿의 형태로 사용하고자 하는 경우

## 6.1~45 사이의 서로 다른 정수 6개를 입력받아서 list에 저장하는 코드를 작성하세요
- 정수 이외의 데이터가 들어오면 다시 입력받도록 작성하세요
- 1 ~ 45 사이의 숫자 이외의 데이터가 들어오면 다시 입력받도록 작성하세요
- 중복된 데이터가 들어오면 다시 입력받도록 작성하세요
- 숫자를 오름차순 정렬해서 출력하세요

### 내 답안

In [ ]:
list_int = []

while len(list_int) < 6:
    print(len(list_int))
    n = input("정수 1~45 중 하나의 숫자를 입력하세요 : ")
    try:
        n = int(n)
        if n < 1 or n > 45:
            continue
        if n in list_int:
            continue
        list_int.append(n)
    except ValueError:
        continue

print(sorted(list_int))

0
정수 1~45 중 하나의 숫자를 입력하세요 : 0
0
정수 1~45 중 하나의 숫자를 입력하세요 : 46
0
정수 1~45 중 하나의 숫자를 입력하세요 : 1
1
정수 1~45 중 하나의 숫자를 입력하세요 : 6
2
정수 1~45 중 하나의 숫자를 입력하세요 : 5
3
정수 1~45 중 하나의 숫자를 입력하세요 : 6
3
정수 1~45 중 하나의 숫자를 입력하세요 : 8
4
정수 1~45 중 하나의 숫자를 입력하세요 : 9
5
정수 1~45 중 하나의 숫자를 입력하세요 : 10
[1, 5, 6, 8, 9, 10]

### 선생님 답안

In [ ]:
lotto = []
i = 0
while i < 6:
    #예외가 발생하면 except 절로 이동해서 처리
    try:
        su = input('1~45 사이의 숫자를 입력:')
        su = int(su)

        #1 ~ 45 사이인지 확인
        if su < 1 or su > 45:
            print("1~45 사이의 숫자를 입력하세요")
            continue
            
        #중복 검사
        flag = False
        for j in range(0, i):
            if su == lotto[j]:
                flag = True
                print('이미 존재하는 숫자 입니다.')
                break
        if flag == True:
            continue
            
        lotto.append(su)
                    
    #try에서 예외가 발생하면 처리할 내용
    except:
        print("정수만 입력하세요!!!")
        continue
    
    i = i + 1

#오름차순 정렬해서 출력 - list 의 sort 는 리턴을 하지 않고 호출한 객체의 
#데이터를 가지고 정렬해서 수정합니다.
lotto.sort()
for i in lotto:
    print(i)

1~45 사이의 숫자를 입력:1
1~45 사이의 숫자를 입력:3
1~45 사이의 숫자를 입력:2
1~45 사이의 숫자를 입력:13
1~45 사이의 숫자를 입력:7
1~45 사이의 숫자를 입력:6
1
2
3
6
7
13

## 7. 1번에서 만든 클래스의 인스턴스를 3개 만들어서 list에 저장하세요

### 내 답안

In [ ]:
st1 = Student()
st2 = Student()
st3 = Student()
str_list=[st1, st2, st3]

### 선생님 답안

In [ ]:
person1 = Person()
person2 = Person()
person3 = Person()
li = [person1, person2, person3]

## 8. 6번에서 만든 내용을 set을 이용하도록 변경하세요

### 내 답안

In [ ]:
set_int = set()

while len(set_int) < 6:
    print(len(set_int))
    n = input("정수 1~45 중 하나의 숫자를 입력하세요 : ")
    try:
        n = int(n)
        if n < 1 or n > 45:
            continue
        if n in set_int:
            continue
        set_int.add(n)
    except ValueError:
        continue

print(set_int)

0
정수 1~45 중 하나의 숫자를 입력하세요 : 5
1
정수 1~45 중 하나의 숫자를 입력하세요 : 0
1
정수 1~45 중 하나의 숫자를 입력하세요 : 1
2
정수 1~45 중 하나의 숫자를 입력하세요 : 90
2
정수 1~45 중 하나의 숫자를 입력하세요 : f
2
정수 1~45 중 하나의 숫자를 입력하세요 : 8
3
정수 1~45 중 하나의 숫자를 입력하세요 : 30
4
정수 1~45 중 하나의 숫자를 입력하세요 : 20
5
정수 1~45 중 하나의 숫자를 입력하세요 : 10
{1, 5, 8, 10, 20, 30}

### 선생님 답안

## 9. 7번의 내용을 1번에서 만든 클래스를 이용하지 않고 dict를 이용해서 작성하시요.

### 내 답안

In [ ]:
# dict를 이용한 경우 평균점수 mean이 name보다 앞으로 옴

stu_list = []
while len(stu_list) < 3 : 
    # 이썬,30,40,50
    stu_string = input("이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : ")
    # 이름,국어점수,영어점수,수학점수 분리하여 저장
    name, kor, eng, math = map(str,stu_string.split(','))
    try :
        stu_dict = dict()
        stu_dict['name'] = name
        stu_dict['mean'] = (int(kor) + int(eng) + int(math)) / 3
        # stu_dict = {'name':name, 'mean':(int(kor) + int(eng) + int(math)) / 3 }
        stu_list.append(stu_dict)

    except :
        continue

stu_list

이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 이썬,30,40,50
이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 이썬,30,40,50
이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 이썬,30,40,50

[{'mean': 40.0, 'name': '이썬'},
 {'mean': 40.0, 'name': '이썬'},
 {'mean': 40.0, 'name': '이썬'}]

In [ ]:
# OrderedDcit를 이용한 경우 평균점수 mean이 name보다 앞으로 옴

from collections import OrderedDict
stu_list = []
while len(stu_list) < 3 : 
    # 이썬,30,40,50
    stu_string = input("이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : ")
    # 이름,국어점수,영어점수,수학점수 분리하여 저장
    name, kor, eng, math = map(str,stu_string.split(','))
    try :
      
        stu_dict = OrderedDict()
        stu_dict['name'] = name
        stu_dict['mean'] = (int(kor) + int(eng) + int(math)) / 3
        stu_list.append(stu_dict)

    except :
        continue

stu_list

이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 이썬,30,40,50
이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 파, ㅇ, ㄴ,ㄷ
이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 이,60,40,50
이름,국어점수,영어점수,수학점수를 입력하세요(콤마 구분) : 썬,30,40,70

[OrderedDict([('name', '이썬'), ('mean', 40.0)]),
 OrderedDict([('name', '이'), ('mean', 50.0)]),
 OrderedDict([('name', '썬'), ('mean', 46.666666666666664)])]

### 선생님 답안

In [ ]:
person1 = {'name':'adam', 'kor':90}
person2 = {'name':'rusia', 'kor':87}
person3 = {'name':'cyder', 'kor':88}

li = [person1, person2, person3]

print('이름\t국어')
for dic in li:
    print(dic['name'],'\t',dic['kor'])

이름	국어
adam 	 90
rusia 	 87
cyder 	 88

## 10. 다음 list에 저장된 내용에서 각 단어가 등장한 횟수를 dict에 저장하는 코드를 작성하시오.

In [ ]:
words = ['python', 'java', 'python', 'R', 'python', 'python', 'sql', 'javascript', 'javascript', 'c++', 'c++', 'c++']

### 내 답안

In [ ]:
word_dict = dict()
for word in set(words):
    word_dict.update({word:words.count(word)})
word_dict

{'R': 1, 'c++': 3, 'java': 1, 'javascript': 2, 'python': 4, 'sql': 1}

### 선생님 답안

In [ ]:
words = ['python', 'java', 'python', 'R', 'python', 'python', 'sql', 'javascript', 'javascript', 'c++', 'c++', 'c++']
#나중에 collections 모듈의 Counter 를 알면 쉽게 해결

dic = {}
for word in words:
    try:
        #단어를 key로 해서 값을 가져옵니다.
        #값이 존재하면 1을 추가
        #값이 존재하지 않으면 예외가 발생
        cnt = dic[word]
        dic[word] = cnt + 1
    #예외가 발생했을 때 word를 key로 1로 설정
    except:
        dic[word] = 1
print(dic)

{'python': 4, 'java': 1, 'R': 1, 'sql': 1, 'javascript': 2, 'c++': 3}

## 쿠팡문제

- '-'는 0으로 생각하고 0을 바꿔서 합계를 구함
- '10', '30', '-','40','80'
- '-'대신 다른 문자열이 올 수도 있음

In [7]:
# 문자열을 숫자로 바꾸는 함수 생성
def changetoint(str):
    try:
        # 문자열을 숫자로 바꿔서 반환
        return int(str)
    except:
        # 문자열이 숫자가 아닐 경우 0을 반환
        return 0

li = ['10','30', '-', '40', '80']

sum = 0
# 리스트를 순회하며 문자열을 숫자로 바꿔서 더하기
for i in li :
    sum += changetoint(i)

sum

160